body {
  /* background-color: red; */
}
h1 {
  text-align: center;
  color: rgb(241, 38, 7);
}

p {
  text-align: center;
  color: rgb(241, 38, 7);
}

a {
  color: rgb(241, 38, 7);
  margin: 0 12px;
}
.links {
  display: flex;
  justify-content: center;
}

.croissant {
  display: block;
  margin: 0 auto;
  /* padding: 10px 20px; */
  border-radius: 10px;
}
